<div class="container-fluid h-100">
  <div class="row h-100">
    <!-- Forgot Password Formu -->
    <div class="col-md-4 my-auto">
      <h2>Şifremi Unuttum</h2>

      <!-- Bilgilendirme mesajını gösteren alan -->
      <div *ngIf="showMessage" class="alert alert-info">
        {{ infoMessage }}
      </div>
      <div *ngIf="showMessage" class="alert alert-info">
        {{ infoMessage }}
      </div>


      <form (ngSubmit)="onForgotPassword()">
        <div class="form-group position-relative">
          <i class="fa fa-envelope"></i>
          <input type="email" class="form-control pl-5" id="email" name="email" placeholder="E-posta Adresinizi Girin" [(ngModel)]="email">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Sıfırlama Bağlantısını Gönder</button>
        <p class="mt-3">Hesabınıza geri dönmek için <a [routerLink]="['/login']">Giriş Yap</a></p>
      </form>
    </div>

    <!-- Sağ Taraftaki Resim -->
    <div class="col-md-8 p-2">
      <img src="assets/test.jpg" alt="API Lifecycle Management" class="img-fluid h-100 w-100">
    </div>
  </div>
</div>
